div#result-area > ui-view >  div#result-area-header-stock {
    /*display: none;*/
}

div#result-area > ui-view >  div#result-area-header-stock > a{
    color: black;
}

div#result-area > ui-view >  div#result-area-header-stock > h4 {
    margin: 0 auto;
}

div#result-area > ui-view > div#stock-details-table {
    min-height: 650px;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar {
    background-color: white;
    color: white;
    border: none;
    margin-bottom: 0;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar > div#nav-options {
    padding: 15px;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar > div#nav-options:after {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 100%;
    border-bottom:1px solid #e9e9e9;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar > div#nav-options > button.btn:not(.btn-primary) {
    border: none;
    color: #337ab7;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar > div#nav-options > button > span {
    padding-right: 5px;
}

div#result-area > ui-view > div#stock-details-table > div.row {
    display: flex;
    margin-top: 25px;
    min-height: 450px;
    color: black;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view {
    min-height: 100%;
    width: 100%;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view > div {
    height: 100%;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view > div > div.progress {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    z-index: 2;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view > div > div.alert.alert-danger {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    z-index: 2;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view > div > div#current-stock-details-header {
    margin: 10px 0;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view > div > div#current-stock-details-header > div {
    display: inline-flex;
    justify-content: flex-end;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view > div > div#current-stock-details-header > div > button {
    padding: 5px 8px;
    margin: 3px;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view > div > div#current-stock-details-table {
    margin-top: 10px;
    height: 100%;
}

div#result-area > ui-view > div#stock-details-table > div.row > ui-view > div > div#current-stock-details-table > table th {
    font-weight: bold;
}

div#current-stock-chart-block {
    height: 100%;
}

div#current-stock-chart-block > ul {
    padding-top: 5pxl
}

div#current-stock-chart-block > ul > li {
    text-align: center;
    width: 11.11%;
    margin: 0;
}

div#current-stock-chart-block > ul > li:focus {
    outline: none;
}

div#current-stock-chart-block > ul > li > a {
    padding: 10px 0;
    margin: 0;
}

div#current-stock-chart-block > div > md-progress-circular {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

div#current-stock-chart-block > div.progress {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    z-index: 2;
}

div#current-stock-chart-block > div.alert.alert-danger {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    z-index: 2;
}
