div#search-form {
    text-align: center;
}

div#search-form > md-content {
    background-color: white;
}

div#search-form > md-content > form {
    padding: 5px 25px;
}

div#search-form > md-content > form > label {
    padding: 0;
}

div#search-form > md-content > form > label > span {
    color: red;
}

div#search-form > md-content > form > div.form-group {
}

div#search-form > md-content > form > div#text-box{
    width: 50%;
    margin-top: 20px;
}

div#search-form > md-content > form > div#text-box > md-autocomplete {
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
}

div#search-form > md-content > form > div#text-box > md-autocomplete.error {
    border: 1px solid red;
}

div#search-form > md-content > form > div#text-box > md-autocomplete > md-autocomplete-wrap {
    box-shadow: none;
}

div#search-form > md-content > form > div#text-box > div.invalid-feedback {
    text-align: left;
    color: red;
    height: 20px;
    visibility: hidden;
    padding: 5px 0;
}

div#search-form > md-content > form > div > button.btn {
    padding: 5px 10px;
    margin: 0 5px;
    width: 100px;
}

div#search-form > md-content > form > div > button.btn > span {
    margin: 0 5px 0 0;
}

div#result-area {
    margin-top: 10px;
}

div#result-area > ui-view >  div.result-area-header {
    background: linear-gradient(to right, rgba(100, 100, 100,0.15), rgba(100, 100, 100,0.13));
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100,0.2);
}

div#result-area > ui-view >  div#result-area-header-favorite {
    overflow: hidden;
    justify-content: space-between;
}

div#result-area > ui-view >  div#result-area-header-favorite > h4 {
    font-weight: bold;
}

div#result-area > ui-view >  div#result-area-header-favorite > div#options > a {
    color: black;
}

div#result-area > ui-view >  div#result-area-header-stock {
    /*display: none;*/
}

div#result-area > ui-view >  div#result-area-header-stock > a{
    color: black;
}

div#result-area > ui-view >  div#result-area-header-stock > h4 {
    margin: 0 auto;
}

div#result-area > ui-view > div#filter {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

div#result-area > ui-view > div#filter > div.result-filter {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 25px;
}

div#result-area > ui-view > div#filter > div.result-filter > h4 {
    width: auto;
    margin-right: 15px;
}

div#result-area > ui-view > div#filter > div.result-filter > select {
    width: 150px;
}

div#result-area > ui-view > div#favorite-table > table#favorite-stock-tbl > thead > tr > th{
    text-align: center;
    font-weight: bold;
}

div#result-area > ui-view > div#favorite-table > table#favorite-stock-tbl {
    text-align: center;
}

div#result-area > ui-view > div#favorite-table > table#favorite-stock-tbl > tbody > tr {
    vertical-align: middle;
}

div#result-area > ui-view > div#favorite-table > table#favorite-stock-tbl > tbody > tr > td {
    vertical-align: middle;
}

div#result-area > ui-view > div#favorite-table > table#favorite-stock-tbl > tbody > tr > td > a {
    cursor: pointer;
}

div#result-area > ui-view img.arrow {
    width: 15px;
}

div#result-area > ui-view td.positive {
    color: green;
}

div#result-area > ui-view td.negative {
    color: red;
}

div#result-area > ui-view > div#stock-details-table {
    background: white;
    border: 1px solid #e7e7e7;
    min-height: 500px;
    max-height: 500px;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar {
    background-color: white;
    color: white;
    border: none;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar > div#nav-options {
    padding: 15px;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar > div#nav-options:after {
    content : "";
    position: absolute;
    left    : 1.5%;
    bottom  : 0;
    height  : 1px;
    width   : 97%;
    border-bottom:1px solid #e9e9e9;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar > div#nav-options > button.btn-default {
    border: none;
    color: #337ab7;
}

div#result-area > ui-view > div#stock-details-table > nav.navbar > div#nav-options > button > span {
    padding-right: 5px;
}

div#result-area > ui-view > div#stock-details-table > div.row {
    color: black;
}

div#result-area > ui-view > div#stock-details-table > div.row > div > div#current-stock-details-header {
    overflow: hidden;
}

div#result-area > ui-view > div#stock-details-table > div.row > div > div#current-stock-details-header > div {
    display: inline-flex;
    justify-content: flex-end;
}

div#result-area > ui-view > div#stock-details-table > div.row > div > div#current-stock-details-header > div > button {
    padding: 5px 8px;
    margin: 3px;
}

div#result-area > ui-view > div#stock-details-table > div.row > div > div#current-stock-details-table {
    margin-top: 25px;
}

div#result-area > ui-view > div#stock-details-table > div.row > div > div#current-stock-details-table > table th {
    font-weight: bold;
}

div#current-stock-chart-block > ul > li {
    text-align: center;
    width: 11.11%;
    margin: 0;
}

div#current-stock-chart-block > ul > li > a {
    padding: 10px 0;
    margin: 0;
}

div#current-stock-chart-block > div > md-progress-circular{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}
