@media only screen and (max-width: 2560px) {
    html {
        background-color: #FFF;
    }

    div.container {
        height: 100%;
        /*overflow-x: hidden;*/
    }

    div.container > div#search-form {
        text-align: center;
    }

    div.container > div#search-form > md-content {
        background-color: white;
    }

    div.container > div#search-form > md-content > div.form-container > form {
        padding: 5px 0;
    }

    div.container > div#search-form > md-content > div.form-container > form > label {
        padding: 0;
    }

    div.container > div#search-form > md-content > div.form-container > form > label > span {
        color: red;
    }

    div.container > div#search-form > md-content > div.form-container > form > div.form-group {
    }

    div.container > div#search-form > md-content > div.form-container > form > div#text-box {
        min-width: 300px;
        width: auto;
        margin-top: 20px;
    }

    div.container > div#search-form > md-content > div.form-container > form > div#text-box > md-autocomplete {
        border: 1px solid rgba(0,0,0,0.25);
        border-radius: 5px;
    }

    div.container > div#search-form > md-content > div.form-container > form > div#text-box > md-autocomplete.error {
        border: 1px solid red;
    }

    div.container > div#search-form > md-content > div.form-container > form > div#text-box > md-autocomplete > md-autocomplete-wrap {
        box-shadow: none;
    }

    div.container > div#search-form > md-content > div.form-container > form > div#text-box > md-autocomplete md-progress-linear {
        display: none;
    }

    div.container > div#search-form > md-content > div.form-container > form > div#text-box > div.invalid-feedback {
        text-align: left;
        color: red;
        height: 20px;
        visibility: hidden;
        padding: 5px 0;
    }

    div.container > div#search-form > md-content > div.form-container > form > div > button.btn {
        padding: 5px 10px;
        margin: 0 5px;
    }

    div.container > div#search-form > md-content > div.form-container > form > div > button.btn > span {
        margin: 0 5px 0 0;
    }
}
@media only screen and (max-width: 450px) {
    div.container > div#search-form > md-content > div.form-container > form > div#text-box {
        min-width: auto;
    }

    div.container > div#search-form {
        text-align: left;
    }
}
