<div id="filter">
    <div class="result-filter form-group">
        <h4>Sort By</h4>
        <select ng-model="stockKeys.selectedKey" ng-options="item.text for item in stockKeys.keys track by item.value" class="form-control" ng-change="defaultSelected()" id="sortFilterDropdown" name="">
        </select>
    </div>
    <div class="result-filter form-group">
        <h4>Order</h4>
        <select class="form-control" ng-model="stockKeys.selectedOrder" ng-disabled="stockKeys.selectedKey.value=='id'" ng-options="item.value for item in stockKeys.possibleOrders track by item.value" id="orderFilterDropdown" name="">
        </select>
    </div>
</div>
<div id="favorite-table" class="table-responsive">
    <table id="favorite-stock-tbl" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Stock Price</th>
                <th>Change (Change Percent)</th>
                <th>Volume</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in favorites | orderBy:stockKeys.selectedKey.value:stockKeys.selectedOrder.reverse">
                <td>{{item.symbol}}</td>
                <td>{{item.last_price.text}}</td>
                <td ng-class="{'positive':item.change.value>0, 'negative':item.change.value<0}">{{item.change.text}} ({{item.change_percent.text}}%) <img class="arrow" ng-src="http://cs-server.usc.edu:45678/hw/hw8/images/{{item.change.value>0?'Up':'Down'}}.png"></td>
                <td>{{item.volume.text}}</td>
                <td>
                    <button ng-click="deleteFavorite(item)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
