<div class="result-area-header" id="result-area-header-stock">
    <a ui-sref="favorite">
        <button type="button" class="btn btn-disabled" name="refresh">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </a>
    <h4>Stock Details</h4>
</div>
<div id="stock-details-table">
    <nav class="navbar navbar-default">
      <div id="nav-options" class="container-fluid">
          <button class="btn btn-primary btn-lg" name="button">
              <span class="glyphicon glyphicon-dashboard"></span>Current Stock
          </button>
          <button class="btn btn-default btn-lg" name="button">
              <span class="glyphicon glyphicon-stats"></span>Historical Charts
          </button>
          <button class="btn btn-default btn-lg" name="button">
              <span class="glyphicon glyphicon-link"></span>News Feed
          </button>
      </div>
    </nav>
    <div style="min-height:450px;max-height:450px;" class="row">
      <div class="col-sm-6">
          <div id="current-stock-details-header">
              <h4 class="col-sm-6">Stock Details</h4>
              <div class="col-sm-6">
                  <button ng-disabled="newRequestMade" ng-click="toggleFavorite()" type="button" class="btn btn-default">
                      <span ng-class="{'glyphicon-star-empty':newRequestMade||!stockData.symbolExistsInLocalStorage, 'glyphicon-star':!newRequestMade&&stockData.symbolExistsInLocalStorage}" ng-style="!newRequestMade&&stockData.symbolExistsInLocalStorage?{'color':'#FFD700'}:{}" class="glyphicon"></span>
                  </button>
                  <button ng-disabled="newRequestMade" type="button" class="btn btn-default">
                      <img style="width:20px;" src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" alt="Facebook icon">
                  </button>
              </div>
          </div>
          <div id="current-stock-details-table" class="col-sm-12">
              <div ng-class="{'progress-bar':newRequestMade, 'progress-bar-striped':newRequestMade, 'active':newRequestMade}" ng-style="newRequestMade?{'position':'absolute','z-index':'3','height':'25px','width':'90%','top':'125px','left':'5%','margin-top':'-12.5px'}:{}"></div>
              <table ng-hide="newRequestMade" class="table table-striped table-hover">
                  <tr>
                      <tr>
                          <th>Stock Ticker Symbol</th>
                          <td>{{stockData.symbol}}</td>
                      </tr>
                      <tr>
                          <th>Last Price</th>
                          <td>{{stockData.last_price.text}}</td>
                      </tr>
                      <tr>
                          <th>Change (Change Percent)</th>
                          <td ng-class="{'positive':stockData.change.value>0, 'negative':stockData.change.value<0}">
                              {{stockData.change.value==null ? '' : stockData.change.text + ' (' + stockData.change_percent.text + '%)'}} <img class="arrow" ng-hide="stockData.change.value==null" ng-src="http://cs-server.usc.edu:45678/hw/hw8/images/{{stockData.change.text>0?'Up':'Down'}}.png">
                          </td>
                      </tr>
                      <tr>
                          <th>Timestamp</th>
                          <td>{{stockData.timestamp}}</td>
                      </tr>
                      <tr>
                          <th>Open</th>
                          <td>{{stockData.open}}</td>
                      </tr>
                      <tr>
                          <th>Close</th>
                          <td>{{stockData.close}}</td>
                      </tr>
                      <tr>
                          <th>Day's Range</th>
                          <td>{{stockData.range}}</td>
                      </tr>
                      <tr>
                          <th>Volume</th>
                          <td>{{stockData.volume.text}}</td>
                      </tr>
                  </tr>
              </table>
          </div>
      </div>
      <div id="current-stock-chart-block" style="margin:auto" class="col-sm-6">
          <div id="chart-progress-bar" ng-class="{'progress-bar':newRequestMade, 'progress-bar-striped':newRequestMade, 'active':newRequestMade}" ng-style="newRequestMade?{'position':'absolute','z-index':'3','height':'25px','width':'85%','top':'190px','left':'7.5%','margin-top':'-12.5px'}:{}">
          </div>
          <div ng-hide="newRequestMade" id="current-stock-chart"></div>
    </div>
</div>
